#banniere {
    filter: grayscale(100%) brightness(50%);
}


#collapsibleNav{
    font-size: 1.5em;
}

#add{
    border: none;
}

.card{
    width: 500px !important;
}


#CTA1{
    top: unset !important;
}

.btn:focus, .btn:hover, .btn:active{
    outline: 0;
    box-shadow: none;
}